*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container
{
    background-color: #e30069;
}

.flex-nav label, #hamburger
{
    display: none;
}

.flex-nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.flex-nav img
{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

nav ul
{
    display: flex;
}

.flex-nav nav ul li
{
    list-style: none;   
    padding: 18px;
    line-height: 40px;
}

.flex-nav nav ul li a:hover
{
    color: #6A1E55;
    transition: 0.5s;
}

.flex-nav nav ul li a
{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:768px)
{
    .flex-nav label
    {
        display: inline-block;
        color: black;
        font-style: normal;
        font-size: 32px;
        padding: 25px;
    }

    .nav-container .flex-nav
    {
        width: 100%;
    }
    nav ul
    {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #e30069;
    }
    nav ul li a
    {
        display: block;
        padding: 0 30px;
        height: auto;
    }
    .nav-brand
    {
        position: absolute;
        right: 20px;
    }

    /* Menampilkan atau menyembunyikan menu */
    .nav-container .flex-nav nav
    {
        display: none;
    }
    .nav-container .flex-nav input:checked ~ nav
    {
        display: flex;
    }
}